<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--URL's-->
    <add key="SplashPage" value="https://ls.clubautomation.com/" />

    <!--Browser-->
    <add key="Browser" value="Chrome" /> 
    <!--available options: Chrome, iPhone 6, iPhone 6 Plus, iPad, Galaxy S5, LG Optimus L70, Remote_CBT-->

    <!--CBT-->
    <add key="CbtUsername" value="sgoldberg@clubautomation.com" />
    <add key="CbtAuthkey" value="u102aa6c8a81564d" />
    <add key="CbtHub" value="http://hub.crossbrowsertesting.com:80/wd/hub"/>
    <add key="CbtBrowserApiName" value="Chrome58"/>
    <add key="CbtOsApiName" value="Win10"/>
    <add key="CbtScreenRes" value="1366x768"/>
    
    <!--Login-->
    <add key="FirstName" value="Global" />
    <add key="LastName" value="Administrator" />
    <add key="Username" value="globaladmin" />
    <add key="Password" value="Dassen!985" />
    <add key="InvalidUsername" value="invalidUser" />
    <add key="InvalidPassword" value="invalidPass" />

    <!--Select Location-->
    <add key="Location" value="CPAC" />
    <add key="Pos" value="CPAC West" />

  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>